@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/footer.css);

.cards {
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  margin-top: 51px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  display: flex;
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
}

@media screen and (max-width: 725px) {
  .profile {
    background-color: blue;
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 90%;
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    background-color: silver;
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 90%;
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 415px) {
  .profile {
    background-color: red;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 90%;
    padding-left: 19px;
    padding-right: 19px;
  }
}
